form {
  width: 300px;
  margin-top: 50px;
  margin-left: 420px;
  /*margin: 20px auto;*/
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

input[type="text"] {
  width: 150px;
}

input[type="number"] {
  width: 150px;
}

body {
  background: linear-gradient(-45deg, #e8a48f, #f299bb, #80c8e2, #95f1dc);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  background-color: rgba(245, 245, 245, 0.905);
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(203, 236, 240, 0.905);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
